{{ 'scandipremium-page.css' | asset_url | stylesheet_tag }}
{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<main class="scandipremium-main">
  {% section 'image-banner' heading:{"holla"} %}
</main>

